extends layout

block content
    h2= "Submit a form to view all collection entries"
    form(action='/post' method='POST')
        label
            | name:
            input(type='text', name='name', value='')
            | surname:
            input(type='text', name='surname', value='')
        input(type='submit', value='Submit')
