extends layout

block content
  h1= title
  |
  p= "Heyyoo " + ip
  |
  a(class='button' href='/crud') Click here to go CRUD panel...
  |
  p CREATED w/ Node - Expressjs - Pugjs- MongoDB - Heroku by Baturalp K.
